################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/.vs/Game Caro/v16/.suo
/.vs
/Game Caro/bin/
/Game Caro/obj/
