################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/.vs/Game Caro/v16/.suo
/.vs
/Game Caro/bin/
/Game Caro/obj/
/Game Caro/.vs
/CHANGELOG_LAN_FIRST_MOVE.md
/FIX_LAN_SYNC_AND_NAMES.md
